
/***********************************************************************/
/***********************************************************************/
/*HEADER*/

header{
    display: flex;
    justify-content: center;
    /* padding: 40px 0; */
    background: rgb(11, 157, 241);
    
}

header > section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    gap: 3rem;
    font-size: 1.4rem;
}
